*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
  
body{
    background-image: url("../../images/back-yellow.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    align-items: center;
}

.container{
    width: 30%;
    min-height: 600px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    border-radius: 6%;
    padding: 20px;
}

.container .image{
    text-align: center;
    margin-bottom: 10px;
}

.container h2{
    font-size: 22px;
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container form input{
    border-radius: 30px;
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 20px;
    outline: none;
    font-size: 16px;
}

.visibility{
    float: right;
    margin-right: 20px;
    margin-top: 16px;
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.container button{
    background-color: #101010;
    color: #101010;
    border-radius: 30px;
    height: 50px;
    width: 350px;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.container button:hover{
    background:none;
    border: 2px solid #101010;
    color: #101010;
    cursor: pointer;
    transition: 0.3s;
}

.container span{
    font-weight: bold;
}

.container span:nth-of-type(1){
    display: block;
    margin-top: 20px;
    font-size: 16px;
}

.container span:nth-of-type(2){
    margin-left: 2px;
}

.container a{
    font-weight: bold;
    text-decoration: underline;
    transition: 0.2s;
    color: #101010;
}

.container a:hover{
    cursor: pointer;
    color: #FF9700;
}
