body {
    background-color: #FF9700;
    font-family: san;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex;
    align-items: center;
}

.container-login {
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.forgot-password {
    transition-duration: 0.4s;
    cursor: pointer;
    text-align: end;
    margin-right: 5%;
    font-weight: bold;
}
