<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        
      <link rel="icon" type="image/x-icon" href="../../images/carrossel1.png">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="BoardStyle.css" />
      <link rel="stylesheet" href="../../images/componentsMain.css" />
      <script src="https://kit.fontawesome.com/bb275bf294.js" crossorigin="anonymous"></script>

      <title>AcessiBee</title>
    </head>

    <body>
        <header>
            <div class="left">
                <img src="../../images/logoAcessibeeBlack.png" height="80" width="105">
                <div class="selected">
                    <a>Pranchas de Comunicação</a>
                    <div class="line"></div>
                </div><!-- selected -->
                
                <span class="dot">⚫</span>
                <a href="../../Report/View/Report.html" class="navigate">Relatório</a>
            </div><!-- left -->
            <div class="right">
                <a href="../../MainPage/View/index.html">SAIR</a>
                <i class="fa-solid fa-arrow-right"></i>
            </div><!-- right -->
            <div class="clear"></div>
        </header>

        <section class="cards">
            <div class="card-row">
                <div class="card-single">
                    <p>Olá</p>
                    <img src="../../images/pictograms/ola.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Aniversário</p>
                    <img src="../../images/pictograms/aniversario.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Comer</p>
                    <img src="../../images/pictograms/comer.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Desenho</p>
                    <img src="../../images/pictograms/desenho.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Elástico</p>
                    <img src="../../images/pictograms/elastico.png" width="160">
                </div><!-- card-single -->
            </div><!-- card-row -->

            <div class="card-row">
                <div class="card-single">
                    <p>Vestido</p>
                    <img src="../../images/pictograms/vestido.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Dor de Cabeça</p>
                    <img src="../../images/pictograms/dor-cabeca.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Peixe</p>
                    <img src="../../images/pictograms/peixe.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Frutas</p>
                    <img src="../../images/pictograms/fruta.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Mulher</p>
                    <img src="../../images/pictograms/mulher.png" width="160">
                </div><!-- card-single -->
            </div><!-- card-row -->

            <div class="card-row">
                <div class="card-single">
                    <p>Salgado</p>
                    <img src="../../images/pictograms/salgado.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Flexível</p>
                    <img src="../../images/pictograms/flexivel.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Obrigado</p>
                    <img src="../../images/pictograms/obrigado.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Suco de Maçã</p>
                    <img src="../../images/pictograms/suco-maca.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Dor de Dentes</p>
                    <img src="../../images/pictograms/dor-dentes.png" width="160">
                </div><!-- card-single -->
            </div><!-- card-row -->

            <div class="card-row">
                <div class="card-single">
                    <p>Carteira Escolar</p>
                    <img src="../../images/pictograms/carteira-escolar.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Gelatina</p>
                    <img src="../../images/pictograms/gelatina.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Morcego</p>
                    <img src="../../images/pictograms/morcego.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Homem</p>
                    <img src="../../images/pictograms/homem.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Luvas</p>
                    <img src="../../images/pictograms/luvas.png" width="160">
                </div><!-- card-single -->
            </div><!-- card-row -->

            <div class="card-row">
                <div class="card-single">
                    <p>Áspero</p>
                    <img src="../../images/pictograms/aspero.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Camisa</p>
                    <img src="../../images/pictograms/camisa.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Eu</p>
                    <img src="../../images/pictograms/eu.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Carne</p>
                    <img src="../../images/pictograms/carne.png" width="160">
                </div><!-- card-single -->
                <div class="card-single">
                    <p>Coruja</p>
                    <img src="../../images/pictograms/coruja.png" width="160">
                </div><!-- card-single -->
            </div><!-- card-row -->
        </section><!-- cards -->
    </body>
</html>