<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" type="image/x-icon" href="../../images/carrossel1.png">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="BoardStyle.css" />
        <link rel="stylesheet" href="../../images/componentsMain.css" />
        <script src="https://kit.fontawesome.com/bb275bf294.js" crossorigin="anonymous"></script>

        <title>AcessiBee</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    </head>

    <body>
        <header>
            <div class="left">
                <img src="../../images/logoAcessibeeBlack.png" height="80" width="105">
                <div class="selected">
                    <a>Pranchas de Comunicação</a>
                    <div class="line"></div>
                </div><!-- selected -->
                
                <span class="dot">⚫</span>
                <a href="../../Report/View/Report.html" class="navigate">Relatório</a>
            </div><!-- left -->
            <div class="right">
                <a href="../../MainPage/View/index.html">SAIR</a>
                <i class="fa-solid fa-arrow-right"></i>
            </div><!-- right -->
            <div class="clear"></div>
        </header>

        <div class="models">
            <div class="card-single">
                <p class="card-name"></p>
                <img class="card-img" src="" width="160">
            </div><!-- card-single -->
        </div><!-- card-row -->

        <main>
            <section class="cards">
            </section><!-- cards area-->
        </main>
    </body>

    <script type="text/javascript" src="../Model/modelCAA.js"></script>
    <script type="text/javascript" src="../ViewModel/ViewModelCAA.js"></script>

    <!-- Firebase dependencies-->
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-app.js";
        import { getFirestore, doc, getDoc, getDocs, collection } from "https://www.gstatic.com/firebasejs/9.4.0/firebase-firestore.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-analytics.js";

        const firebaseConfig = {
            apiKey: "AIzaSyAJFfi2a13nnF06wBOOBYI802R12dyTXDo",
            authDomain: "acessibee.firebaseapp.com",
            projectId: "acessibee",
            storageBucket: "acessibee.appspot.com",
            messagingSenderId: "382841945379",
            appId: "1:382841945379:web:1f37fda842e375fe1e6096",
            measurementId: "G-CZ9G2VP2Z3"
        };

        const app = initializeApp(firebaseConfig);
        const db = getFirestore(app); 

        let caaModel = [];

        const querySnapshot = await getDocs(collection(db, "CaaBoard"));
        querySnapshot.forEach((doc) => {
            caaModel.push({
                "name": doc.data().name,
                "audio": doc.data().audio,
                "img": doc.data().img});
               
        });

        var caaModelJson =JSON.parse(JSON.stringify(caaModel));

        const c = (el) => document.querySelector(el);
        const cs = (el) => document.querySelectorAll(el);

        caaModelJson.map((item) => {
            let modelsItem = c(".models .card-single").cloneNode(true);
            modelsItem.querySelector(".card-name").innerHTML = item.name;
            modelsItem.querySelector(".card-img").src = item.img;

            var a = new Audio(item.audio);
            modelsItem.querySelector(".card-img").addEventListener("click", function() {
                a.play();
            });

            c(".cards").append(modelsItem);
        });

        console.log(caaModelJson);

        function reportCAA(name) {
            const querySnapshot = getDocs(collection(db, "report")).set({
                name: name
            })
            .then(() => {
            console.log("Document successfully written!");
            })
            .catch((error) => {
                console.error("Error writing document: ", error);
            });
          
        }
      </script>

    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
</html>