<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        
      <link rel="icon" type="image/x-icon" href="../../images/carrossel1.png">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="style.css" />
      <link rel="stylesheet" href="../../images/componentsMain.css" />

      <title>AcessiBee</title>
    </head>

    <body>
      <header>
        <div class="image">
          <img src="../../images/logoAcessibee.png" height="300" width="410">
        </div> <!-- image -->
  
        <p>
        A plataforma de comunicação aumentativa e alternativa para pessoas com deficiência na comunicação
        </p>
  
        <div class="buttons">
          <button class="btn1">
            <a href="../../Login/View/Login.html">Login</a>
          </button>
          <button class="btn2">
            <a href="../../Signup/View/Signup.html">Cadastrar</a>
          </button>
        </div> <!-- buttons -->
      </header>

      <section class="about">
        <div class="text">
          <h2>Sobre a AcessiBee</h2>
          <p>Sendo parte fundamental de uma interação social, a comunicação trata-se
            de um compartilhamento de informações que permite a criação de laços sociais. Apesar de
            sua importância, a sociedade é falha com o conceito de comunicação, ignorando parte dos
            indivíduos que não possui e/ou tem dificuldade na fala. Essas pessoas com deficiência são
            marginalizadas de seu convívio social, resultando em uma falta de desenvolvimento pessoal
            em todos os âmbitos de sua vida.
            <br>
            Criada para desconstruir essa barreira, a AcessiBee é uma plataforma de Comunicação Alternativa
            e Aumentativa (CAA), disponibilizada gratuitamente para que seja amplamente utilizado por 
            pessoas com deficiência totalmente ou parcialmente sem a comunicação verbal.</p>
        </div><!-- text -->

        <img src="../../images/Autism-rafiki.png" width="500">
      </section><!-- about -->

      <section class="team">
        <img src="../../images/Team work-rafiki.png" width="500">

        <div class="text">
          <h2>Nossa equipe</h2>
          <p>Alana Gabrieli Cardoso</p>
          <p>Daniel Filipe Tavares Rodrigues</p>
          <p>Letícia da Silva Campos</p>
          <p>Gustavo Almeida de Freitas</p>
          <p>Yan Pecegona Weiss</p>
        </div>
      </section>
     

      

      <!-- SCRIPTS -->
      <script src="main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>