<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        
      <link rel="icon" type="image/x-icon" href="../../images/carrossel1.png">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="style.css" />
      <link rel="stylesheet" href="../../images/componentsMain.css" />

      <title>AcessiBee</title>
    </head>

    <body>
      <div class="image">
        <img src="../../images/logoAcessibee.png" height="350" width="480">
      </div> <!-- image -->

      <div class="buttons">
        <button class="btn1">
          <a href="../../Login/View/Login.html">Login</a>
        </button>
        <button class="btn2">
          <a href="../../Signup/View/Signup.html">Cadastrar</a>
        </button>
      </div> <!-- buttons -->

      

      <!-- SCRIPTS -->
      <script src="main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>