body {
  font-family: "Caveat", serif;
  background: white;
  background-attachment: fixed; 
  background-position: top;
  background-repeat: repeat-x;
  width: 100%;
  margin: 0%;
}

#logoImg {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

#title {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  margin-left: 50%; 
  margin-right: 50%; 
}

.text-yellow {
  color: #FF9700;
}
