*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

/* body {
  background-image: url("../../images/back-white.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 30px;
} */

/* SESSÃO HEADER */
header{
  text-align: center;
  padding-bottom: 100px;
}

header p{
  width: 530px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: -10px;
  font-size: 18px;
}

header .buttons{
  display: flex;
  justify-content: center;
}

.btn1,
.btn2{
  border: none;
  background: none;
}

.btn1{
  margin-right: 10px;
}

.btn2{
  margin-left: 10px;
}

.btn1 a:hover{
  background-color: #FF9700;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn1 a{
  padding: 16px 100px;
  border: 2px solid #FF9700;
  color: #FF9700;
  border-radius: 30px;
  background: none;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.btn2 a:hover{
  background-color: #101010;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn2 a{
  padding: 16px 85px;
  border: 2px solid #101010;
  color: #101010;
  border-radius: 30px;
  background: none;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

/* SESSÃO 'ABOUT' */
section.about{
  display: flex;
  justify-content: center;
  background-color: #FCCE22;
  padding-top: 30px;
  align-items: center;
}

.about .text{
  width: 40%;
  margin: 0 20px;
}

.about .text h2{
  font-size: 34px;
  margin-bottom: 20px;
  color: white;
}

.text p{
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0.3px;
}

/* SESSÃO 'TEAM' */
section.team{
  display: flex;
  justify-content: center;
  padding-bottom: 180px;
  align-items: center;
  background-image: url("../../images/back-white.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
}

.team .text{
  width: 20%;
  margin: 0 20px;
}

.team .text h2{
  font-size: 34px;
  color: #FF9700;
  margin-bottom: 20px;
}
